* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}

.Home {
    background: url(337180-PAF3FA-616.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    line-height: 1.2;
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    color: orange;
    margin: 10px 0 20px;
    font-size: 32px;
    font-weight: 700;
}

.home-content p {
    color: black;
    margin: 20px 0 40px;
    font-size: 20px;
}

.About {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.lowerhalf {
    width: 100%;
    height: 60%;
}

.edu {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.bar-container {
    width: 200px;
    height: 6px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: white;
    width: 0px;
    transition: width 3s;
}

.first {
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.secon {
    background-size: 110% auto;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
}

.about-content {
    height: 200px;
    width: 800px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    letter-spacing: 2px;
}

.heading {
    height: 90vh;
    width: 30%;
    /* border: 2px solid black; */
    color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Education {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.educate {
    font-size: 6vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.education-content {
    height: 200px;
    width: 800px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 30px;
    font-size: large;
    letter-spacing: 2px;
}

.Skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.skils {
    font-size: 6vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.skill-content {
    height: 200px;
    width: 800px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 30px;
    font-size: large;
    letter-spacing: 2px;
}

.Contact {
    background: blue;
    margin: 0 auto;
}

.Contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Contact .content .title {
    font-size: xx-large;
    color: aqua;
    padding: 20px 0;
}

.Contact .text1 {
    width: 80%;
    font-size: large;
    text-align: center;
    margin: 0 auto;
}

.contact .text1 .button button {
    width: 12.5%;
    padding: 5px 15px;
    text-align: center;
    background-color: #faf7f2;
    border-color: black;
    border: 2px solid black;
    border-radius: 25px;
    margin: 0 auto;
}

.contact .text1 .button button a {
    text-decoration: none;
    color: inherit;
}

.contact .text1 .button button:hover {
    background-color: #A4907C;
    color: black;
}